@CHARSET "UTF-8";
/*=========菜单============*/

/* Sidebar */

.left-menu{
		width: 100px;
		background: #FFFFFF;
		height: 504px;
		position: fixed;

	}

.left-menu .loginout img{
	position: fixed;
	margin-top:350px;
	margin-left: 30px;
}



